## Python Warm-Up for Machine Learning

---
## Part 1. Complex data types in Python
### Exercise 1: Basic List Operations
- Create a list named temperatures containing any five different integer values (representing temperatures in degrees Celsius).
- Print the second temperature in the list using indexing.
- Append a new temperature to the list and then print the updated list.
- Using slicing, print the first three temperatures from the list.
- Write a loop that iterates through the list and prints each temperature converted to Fahrenheit. The formula to convert Celsius to Fahrenheit is (Celsius * 9/5) + 32.

In [1]:
# Creating a list
temperature = []

### Exercise 2: Basic Dictionary Operations
- Create a dictionary named student_scores with at least five key-value pairs, where the keys are student names (strings) and the values are their scores (integers).
- Add a new student-score pair to the dictionary.
- Update the score of an existing student.
- Write a function to calculate the average score of all students and print the result.

In [22]:
# Creating a dictionary with student scores
student_scores = {"Alice": 85, "Bob": 90, "Kir": 78, "Rik": 80, "L": 99}

# Adding a new student-score pair
student_scores["Marc"] = 95

# Updating the score of an existing student
student_scores["kir"] = 88

# Function to calculate average score
def calculate_average(scores):
    total = sum(scores.values())
    count = len(scores)
    average = total / count
    return average

# Printing the average score
average = calculate_average(student_scores)
print("Average score of all students:", average)

Average score of all students: 87.85714285714286

### Exercise 3: Working with Nested Dictionaries

Given is a nested dictionary where each key is a classroom (e.g., 'Class A'), and its value is another dictionary with student names as keys and their scores as values.

- Write a Python script to print each classroom's average score.

Example input: {"Class A": {"Alice": 88, "Bob": 76, "Charlie": 90}, "Class B": {"Zara": 92, "Daniel": 64}}

In [24]:
classes = {"Class A": {"Alice": 88, "Bob": 76, "Charlie": 90}, "Class B": {"Zara": 92, "Daniel": 64}}

In [27]:
for class_name, students in classes.items():
    scores = students.values()
    average = sum(scores) / len(scores)
    print("Average score for", class_name + ":", average)

Average score for Class A: 84.66666666666667
Average score for Class B: 78.0

### Exercise 4: Working with NumPy Arrays

- Import the NumPy library with the shortened alias `np` (convention and convenience).
- Create a NumPy array named numbers containing increasing integers from 1 to 100.
- Print the shape of the array.
- Calculate and print the mean, median, min and max values of the array's elements.
- Using slicing, create a new array that contains only the first 5 elements of numbers and print it.
- Multiply every element of the array by 2 (element-wise multiplication) and print the updated array.

In [5]:
import numpy as np

# Creating the NumPy array
numbers = np.arange(1, 101)
print("Array:", numbers)

# Printing the shape of the array
print("Shape:", numbers.shape)

# Calculating and printing the mean, median, min and max values
mean_value = np.mean(numbers)
median_value = np.median(numbers)
min_value = np.min(numbers)
max_value = np.max(numbers)

print("Mean value:", mean_value)
print("Median value:", median_value)
print("Min value:", min_value)
print("Max value:", max_value)

# Slicing the first 5 elements
first_five = numbers[:5]
print("First 5 elements:", first_five)

# Multiplying every element by 2
doubled_numbers = numbers * 2
print("Array after multiplying:", doubled_numbers)

Array: [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]
Shape: (100,)
Mean value: 50.5
Median value: 50.5
Min value: 1
Max value: 100
First 5 elements: [1 2 3 4 5]
Array after multiplying: [  2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72
  74  76  78  80  82  84  86  88  90  92  94  96  98 100 102 104 106 108
 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144
 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180
 182 184 186 188 190 192 194 196 198 200]

---

## Part 2. Pandas Dataframes

### Exercise 0: Dataframe Basics
- Import Pandas as `pd`.
- Create a Series with `pd.Series` by passing it a list of values.
- Create a Dataframe with `pd.Dataframe` by passing it a dictionary with lists of values.
- Explore how different data types are stored in the dataframe with `.dtypes` (it's an attribute, not a function).

In [7]:
import pandas as pd
values = [14, 42, 23, 17, 99]

In [8]:
series = pd.Series(values)
print("Series:")
print(series)

Series:
0    14
1    42
2    23
3    17
4    99
dtype: int64

In [11]:
data = {
    "Variable A": [3, 15, 45],
    "Variable B": [0.1, 0.4, 0.2],
    "Variable C": [True, True, False],
    "Variable D": ["blue", "red", "green"],
}

In [13]:
df = pd.DataFrame(data)
print("\nData types:")
print(df.dtypes)
print("\nDataFrame:")
print(df)

Data types:
Variable A      int64
Variable B    float64
Variable C       bool
Variable D     object
dtype: object

DataFrame:
   Variable A  Variable B  Variable C Variable D
0           3         0.1        True       blue
1          15         0.4        True        red
2          45         0.2       False      green

### Exercise 1: Dataset Loading and Overview
- Load the Titanic training dataset (train.csv) into a Pandas dataframe (`pd.read_csv`).
- Look at the top five rows of the dataframe (`pd.head`) and understand what the columns represent.
- Print descriptive statistics about the dataframe (`pd.describe`).

In [19]:
import pandas as pd

df = pd.read_csv("train.csv")

In [20]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

### Exercise 2: Dataframe Indexing

There are multiple ways to access data in Pandas, let's explore them a bit.

- Access a column of your choice by its name with `df["column_name"]`.
  - This gives us a Pandas Series (1D array compared to the 2D table of a Dataframe).
  - Print the value counts with `.value_counts`.
  - Access multiple columns by providing a list of names.
- Access a single row, column and value with `df.loc`.
- Access a single row, column and value with `df.iloc`.
- Use a boolean index to find passengers that are above the age of 30.
  - We can use comparisons on different columns to create a boolean index like `df["column_name"] > X`.
  - We can use `df[<binary_index>]` with a list or array with boolean values to access rows where the index is True.
  - What is their average fare?

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
series = df[...]

---

## Part 3. Data Visualisation

### Exercise 1: Plot Histogram

- Import matplotlib.pyplot as plt.
- Select a column for which you want to to see the histogram.
    Always good to ask yourself: what do you expect to see?
- Use the `plt.hist` method on the Series of the selected column.
- Explore different values for the `bins` and `range` parameters.
- Use `plt.xlabel` and `plt.ylabel` to add axis labels to the plot.

In [ ]:
series = df["..."]

### Exercise 2: Scatter Plot

- Select two numeric columns.
- Plot their series against each other using the `plt.scatter` function.
  - What do you expect to see?

In [ ]:
s1 = df[...]
s2 = df[...]

### Exercise 3: Box Plot

- Select a numeric column.
- Use the `plt.boxplot` function to create a Box plot.
- What does it show?

In [ ]:
series = df[...]

### Exercise 4: Exploring Pairwise Relationships with Pairplot

- Import Seaborn as `sns`.
- Use Seaborn's `pairplot` function to visualize pairwise relationships between our features.

In [31]:
# Create a pairplot to explore pairwise relationships

### Exercise 5: Correlation Heatmap

- Use Pandas' `corr` function and  Seaborn's `heatmap` function to visualize pairwise correlations.
  - `corr` as a helpful `numeric_only` argument.
  - Can you convert the non-numeric columns in some way so that we can include them in the correlation plot?

---

## Part 4. Free Form Exploration

- Try to think of a few questions and answer them from the data.
  - For example, was it better or worse to be in 1st class?